* {
  margin: 0;
  padding: 5;
  box-sizing: border-box;
}
body {
  background-color: dark-blue;
  font-size: 30px;
}
  
.container {
  flex: 0 1 700px;
  margin: auto;
  padding: 90px;
}
  
.screen-body-item {
  flex: 1;
  padding: 70px;
}
input {
  margin: 10px 10px 10px;
}
.showdata {
  color: black;
  font-size: 1.5rem;
  padding-top: 10px;
  padding-bottom: 10px;
}